body {
    font-family: verdana;
    color: #fff;
}

h1  {
    font-weight: 200;
    span {
        font-family: Roboto;
        font-size: 56px;
        font-weight: 400;
        text-transform: uppercase;
    }

}

h2 {
    font-family: Yaldevi;
    color: $highlight_orange;
    font-size: 3rem;
}
nav {
    font-family: SeoulNamsan;
}